<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor type="Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel">
          <patch:attribute name="type" value="Sitecore.Support.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Support.96261" />
        </processor>
      </renderField>
    </pipelines>
  </sitecore>
</configuration>